<div class="container" style="margin-top: 5%;">
   <div class="row">
      <h5>Questions list</h5>
   </div>
   <form>
      <input class="form-group" type="checkbox" name="selectAll" [(ngModel)]="selectAll" (change)="onSelectAll($event.target.checked)">
      <label class="form-group-label">Select All</label>
      <button class="btn btn-secondary" [disabled]='assignmentQuestions.length <= 0'>Assign</button>
      <button class="btn btn-primary" (click)='redirectAddQuestion()'>Author New Question</button>
      <div *ngFor="let ques of mockQuestions">
            <input class="form-group" type="checkbox" [checked]='selectAll' name="availableQuestion" id="ques.qId" (change)="onChange(ques, $event.target.checked)">
         <label class="form-group-label">{{ques.qId}} {{ques.title}}</label>
      </div>
   </form>
</div>
