.top-margin {
   margin-top: 5%;
}

.page-title-row {
   margin: 8px 0 8px 0;
}

.page-title{
   color: #555C69;
}

.item {
   height: 70px;
   width: 100%;
   border: solid #E4E4E4 1px;
   box-shadow: 0px 1.5px 0 #EEEEEE;
   margin: 10px 0 10px 0;
   display: inline-flex;
}

.item-left{
   width: 10%;
   padding-left: 10px;
   border-right: solid #E4E4E4 1px;
}

.item-left-2 {
   width: 6%;
   padding-left: 10px;
   border-right: solid #E4E4E4 1px;
   background-color: #F9F9F9;
}

.item-main {
   width: 100%;
   padding-right: 12px;
   background: #F9F9F9;
   display: flex;
   align-items: center;
}

.item-center-2 {
   width: 77%;
   border-right: solid #E4E4E4 1px;
}

.item-right-2 {
   width: 17%;
   padding: 10px 20px;
   background-color: #F9F9F9;
}

.v-margin {
   margin: 28px 0 ;
}

.h-margin {
   margin: 0px 5px;
}

.h2-margin {
   margin: 0px 10px;
}

.small-head {
   font-size: 13px;
   color: grey;
}

.head-detail {
   color: grey;
   width: 70%;
   flex: 1 1 auto;
   font-size: 13px;
   padding: 0 20px;
}

.q-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.o-margin {
   margin: 0;
}

.h-padding {
   padding: 0 20px;
}

.s-head {
   font-size: 11px;
   padding-top: 10px;
   color: grey;
}

.p-head {
   font-size: 11px;
   color: grey;
   text-transform: uppercase;
}

.p-type {
   font-size: 15px;
}

.s-no {
   font-size: 20px;
}

.p-title {
   margin-top: 10px;
}

.p-description {
   color: grey;
   font-size: 14px;
}