<div class="container top-margin">
   <div class="row page-title-row">
      <h5 class="page-title">Questions list</h5>
      <a routerLink="/student-dashboard"> Student Dashboard</a>
   </div>
   <form>
      <div class="item">
         <div class="item-left">
            <input class="v-margin" type="checkbox" name="selectAll" [(ngModel)]="selectAll" (change)="onSelectAll($event.target.checked)">
            <label class="v-margin h-margin small-head">Select All</label>
         </div>
         <div class="item-main">
            <p class="head-detail v-margin">Select questions to Asssign</p>
            <button class="btn btn-secondary h-margin" [disabled]='assignmentQuestions.length <= 0' data-toggle="modal" data-target="#assignModal">Assign</button>
            <button class="btn btn-outline-primary h-margin" (click)='redirectAddQuestion()'>Author New Question</button>
         </div>
      </div>
      <div *ngFor="let ques of mockQuestions" class="q-container">
         <input class="form-group v-margin h2-margin" type="checkbox" [checked]='selectAll' name="availableQuestion" id="ques.id" (change)="onChange(ques, $event.target.checked)">
         <div class="item">
            <div class="item-left-2">
               <p class="s-head o-margin">S.No.</p>
               <p class="s-no o-margin">{{ques.id}}</p>
            </div>
            <div class="item-center-2">
               <p class="o-margin h-padding p-title">{{ques.title}}</p>
               <p class="o-margin h-padding p-description">{{ques.description}}</p>
            </div>
            <div class="item-right-2">
               <p class="o-margin p-head">Question Type</p>
               <p class="o-margin p-type"> {{typeHeading[ques.type]}}</p>
            </div>
         </div>
      </div>
   </form>
</div>

<!--Modal for assigning questions to Students-->
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title page-title" id="exampleModalLongTitle">Assign Questions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <h5 class="p-modal">Select students:</h5>
            <input class="form-group" type="checkbox" name="selectAllStudents" [(ngModel)]="selectAllStudents" (change)="onSelectAllStudents($event.target.checked)">
            <label class="form-group-label p-select-all">Select All</label>
            <div *ngFor="let stu of allStudents">
               <input class="form-group" type="checkbox" [checked]='selectAllStudents' name="selectStudents" id="stu.sId" (change)="onChangeStudents(stu, $event.target.checked)">
               <label class="form-group-label p-modal-choice">{{stu.sId}} {{stu.name}}</label>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" [disabled]='assignStudents.length <= 0' (click)="assign()">Assign Questions</button>
         </div>
      </div>
   </div>
</div>