<div class="container" style="margin-top: 5%">
   <div class="row">
      <div class="col-12">
         <h5>Select your profile</h5>
         <select class="form-control" [(ngModel)]="selectedStudent" id="student" name="student" (ngModelChange)="onChange($event)">
            <option *ngFor="let st of allStudents" [ngValue]="st">{{st.sId}} {{st.name}}</option>
         </select>
      </div>
   </div>
   <div class="row" style="margin-top: 5%;">
      <div class="col-12">
         <h5>Your Questions</h5>
      </div>
   </div>
   <div class="row" *ngFor=" let qs of allQuestions;">
      <div class="col-12">
         <p>{{qs.qId}} {{qs.title}} {{qs.description}}</p>
         <button class="btn btn-primary" data-toggle="modal" data-target="#questionModal" (click)="selectQuestion(qs)">Attempt</button>
      </div>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{selectedQuestion.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div *ngIf="selectedQuestion.type !== 'mcq'">
               <p>{{selectedQuestion.description}}</p>
               <input type="multi-text" class="form-control" [(ngModel)]="selectedQuestion.selectedAnswer" placeholder="Type your answer here...">
            </div>
            <div *ngIf="selectedQuestion.type === 'mcq'">
               <p>{{selectedQuestion.description}}</p>
               <label>Answer choices: </label>
               <div *ngFor="let choice of selectedQuestion.mcqChoices; let i = index">
                  <label for="choice">{{choice}}</label>
                  <input class="form-check-input" type="checkbox" [name]="i" [id]="i" (change)="mcqAnswerChange(i, $event.target.checked)">
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveAnswer()">Save answer</button>
         </div>
      </div>
   </div>
</div>