<div class="container top-margin">
   <div class="row page-title-row">
      <div class="col-12">
         <h5 class="page-title">Select your student profile: </h5>
         <select class="form-control" [(ngModel)]="selectedStudent" id="student" name="student" (ngModelChange)="onChange($event)">
            <option *ngFor="let st of allStudents" [ngValue]="st">{{st.sId}} {{st.name}}</option>
         </select>
      </div>
   </div>
   <div class="row page-title-row" style="margin-top: 5%;">
      <div class="col-12">
         <h5 class="sub-title">Questions assigned to you:</h5>
      </div>
   </div>
   <div class="q-container" *ngFor=" let ques of allQuestions;">
      <div class="item">
         <div class="item-left-2">
            <p class="s-head o-margin">Q. Id.</p>
            <p class="s-no o-margin">{{ques.id}}</p>
         </div>
         <div class="item-center-2">
            <p class="o-margin h-padding p-title">{{ques.title}}</p>
            <p class="o-margin h-padding p-description">{{ques.description}}</p>
         </div>
         <div class="item-right-2">
            <button class="btn btn-primary" data-toggle="modal" data-target="#questionModal" (click)="selectQuestion(ques)">Attempt</button>
         </div>
      </div>
   </div>



</div>

<!-- Modal -->
<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title page-title" id="exampleModalLongTitle">{{selectedQuestion.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div *ngIf="selectedQuestion.type !== 'mcq'">
               <p class="p-description">{{selectedQuestion.description}}</p>
               <textarea type="multi-text" class="form-control f-input" [(ngModel)]="selectedQuestion.selectedAnswer" placeholder="Type your answer here..." cols="40" rows="5"></textarea>
            </div>
            <div *ngIf="selectedQuestion.type === 'mcq'">
               <p>{{selectedQuestion.description}}</p>
               <label class="p-description">Answer choices: </label>
               <div *ngFor="let choice of selectedQuestion.mcqChoices; let i = index" class="an-choice">
                  <input type="checkbox" [name]="i" [id]="i" (change)="mcqAnswerChange(i, $event.target.checked)">
                  <label for="choice" class="an-choice-text">{{choice}}</label>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveAnswer()">Save answer</button>
         </div>
      </div>
   </div>
</div>