<div class="container">
   <div class="row">
      <div class="offset-3 col-6">
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">Please Select Login</h5>
               <hr>
               <p>I am a..</p>
               <div class="form-check">
                  <input class="form-check-input" type="radio" name="profile" id="student" value="student" checked>
                  <label class="form-check-label">
                     Student
                  </label>
               </div>
               <div class="form-check">
                  <input class="form-check-input" type="radio" name="profile" id="teacher" value="teacher">
                  <label class="form-check-label">
                     Teacher
                  </label>
               </div>
            </div>
            <div class="card-footer">
               <div class="row">
                  <div class="col-6">
                     <p>
                        Please login to continue
                     </p>
                  </div>
                  <div class="col-6 align-items-right">
                     <button class="btn btn-default">Cancel</button>
                     <button class="btn btn-primary">Login</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>